.App {
  text-align: center;
  display: flex;
  justify-content: center;
  background-color: rgb(81, 189, 81);
}

.Window {
  border: solid;
  height: 40em;
  width: 75%;
  display: flex;
  justify-content: center;
  margin: 5% 10px;
  background-color: aliceblue;
}

.Window_Name {
  height: 10%;
  width: 100%;
  font-size: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: solid;
  background-color: antiquewhite;
}
